.sidebar-card {
  padding: 20px 0;
  // flex: 0 1 18%;
  height: fit-content;
  box-shadow: 3px 3px 5px 6px #f3f0f0;
  position: fixed;
  left: 20px;
  top: 25px;
  .category-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
    cursor: pointer;
    h2 {
      margin-bottom: 0px;
      text-transform: capitalize;
    }
    &.active {
      background-color: #fc8019;
    }
  }
}
